{% comment %} {% extends 'base.html' %} {% endcomment %}

{% block content %}
  <h2>Devices</h2>
  <ol>
    {% for device_trans in device_transections %}
      <li>
        {{ device_trans.device_name }} 
        <a style="margin-left: 3rem; color: green;" href="{% url 'device_trans_details' device_trans.pk %}"> 
          More details
        </a>
        <a style="margin-left: 3rem; color: blue;" href="{% url 'device_trans_update' device_trans.pk %}"> 
          Edit
        </a>
        <a style="margin-left: 3rem; color: red;" href="{% url 'device_trans_delete' device_trans.pk %}"> 
          Delete
        </a>
      </li>
      <hr>
    {% endfor %}
  </ol>
  <div>
    <a href="{% url 'device_trans_create' %}"> create device</a>
  </div>
  
<br>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock %}
