

<div>
    <h1>Company</h1>
    <a href="{% url 'company_list' %}">View All Companies</a>
    <a style="margin-left: 5rem;" href="{% url 'company_create' %}">Create Company?</a>
</div>

<div>
    <h1>Employeer</h1>
    <a href="{% url 'employee_list' %}">View All Employeers</a>
    <a style="margin-left: 5rem;" href="{% url 'employee_create' %}">Create Employeer?</a>
</div>

<div>
    <h1>Device</h1>
    <a href="{% url 'device_list' %}">View All Device</a>
    <a style="margin-left: 5rem;" href="{% url 'device_create' %}">Create Device?</a>
</div>

<div>
    <h1>Device Transection</h1>
    <a href="{% url 'device_trans_list' %}">View All Device Transections</a>
    <a style="margin-left: 5rem;" href="{% url 'device_trans_create' %}">Create Device Transection?</a>
</div>

<div>
    <h1>APIs</h1>
    <a href="http://127.0.0.1:8000/api/"> view all APIs</a>
</div>